:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #3dd0d4;
    --text-color: #505050;

}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.grid {
    max-width: 100%;
    padding: 0;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.grid_row-0px {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}

.grid_row-20px {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.grid_column-3 {
    width: 33.3333333%;
    padding-left: 20px;
    padding-right: 20px;
}

.grid_column-3-0px {
    width: 33.3333333%;
}

.grid_column-4 {
    max-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.grid_column-4-0px {
    max-width: 25%;
}

.grid_column-5 {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    
}

.grid_wide {
    max-width: 1330px;
    margin: 0 auto;
}
/* Animation */
@keyframes scrolldown {
    from {
        transform: scaleY(0%);
    }
    to {
        transform: scaleY(100%);
    }
}

@keyframes hoverTextHeading {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%);
    }
}

@keyframes showslow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Position: relative */
.position-relative {
    position: relative;
}

/* Heading menu */
.heading-item__menu {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 48px;
    margin-top: 32px;
    padding: 32px 0;
    height: 0%;
    animation: scrolldown 300ms ease-in-out forwards;
    transform-origin: top center;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
}

.heading-item__menu::before {
    z-index: 1;
    background-color: red;
}

.menu-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    opacity: 0.8;
    cursor: pointer;
    margin-left: 0;
    font-weight: 600;
}

.menu-item-link:hover {
    color: var(--primary-color);
}

.heading-item__menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10.5px 0 10.5px 40px;
}

.heading-item:hover .heading-item-title,
.blog-item__menu-item:hover .menu-item-link,
.heading-item__menu-item:hover .heading-item__blog-item-icon,
.heading-item__menu-item:hover >
 .menu-item-link{
    color: var(--primary-color);
}

.heading-item__menu-item--more {
    position: relative;
}

.heading-item__menu-item--more:hover .blog-item__menu {
    display: block;
}

.blog-item__menu {
    position: absolute;
    background-color: var(--white-color);
    top: -36px;
    right: -212px;
    padding: 32px 0;
    width: 212px;
    display: none;
    animation: showslow linear 0.4s;
}


.blog-item__menu-list {
    list-style: none;
    padding: 0;
}

.blog-item__menu-item {
    padding: 10.5px 0px 10.5px 40px;
    display: flex;
}

.blog-item__menu-item--link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    line-height: 3.6rem;
    opacity: 0.8;
    justify-content: space-between;
}

.heading-hover_item,
.heading-menu-hover_item,
.heading-item-hover_item {
    position: absolute;
    bottom: 0;
    border-top: 2px solid var(--primary-color);
    display: none;
    animation: hoverTextHeading 300ms ease-in-out forwards;
    transform-origin: left center;
}




